<p>by-id works!</p>
<h2>Список подстанций</h2>

<table border="1">
  <thead></thead>
  <tr>
    <th>Название</th>
    <th>IP-адрес</th>
    <th>Принадлежность</th>
    <th>Сохранил</th>
  </tr>
  <tbody>
  <tr >
    <td>{{subst.nameSubst}}</td>
    <td>{{subst.ip}}</td>
    <td>{{subst.zone}}</td>
    <td>{{subst.user?.username}}</td>
  </tr>
  </tbody>
</table>
<button class ="GFG" [routerLink]="'/rest/update/' + subst.id"> Редактировать {{subst.id}}</button>
<!--<button class ="GFG" [routerLink]="'/rest/update/' + boxSubst.value"> Сохранить изменения {{boxSubst.value}}</button>
-->

